.container{
    background: none;
    position: relative;
    height: 300vh;
    left: 10%;
    width: 80%;
    outline: none;
    outline-offset: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    align-content: center;
}

/* animation */

[data-animate]{
    position: relative;
    border: thin solid black;
    margin: 10px;
    padding: 10px;
    font-size: 35px;
    background-color: rgba(255, 255, 0, 1);
    opacity: 0;
    transition: .6s;
}
[data-animate="left"],[data-animate="right"]{
    width: max(46%,350px);
    vertical-align: top;
}
[data-animate="left"]{
    /* transform: translate3d((x,y,z) */
    transform: translate3d(-50px, 0, 0);
}
[data-animate="right"]{
    transform: translate3d(50px, 0, 0); 
}
[data-animate="top"]{
    transform: translate3d(0, -50px, 0);
}
[data-animate="bottom"]{
    transform: translate3d(0, 50px, 0);
}
[data-animate].animation{
    opacity: 1;
    transform: translate3d(0,0,0);
}